<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-2 p-5">
            <div class="row p-1">
                <h1 class="text-secondary text-center">Add News</h1>
                <hr>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">Auther</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3">
                    <label for="" class="label-control fw-bold">Description</label>
                    <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3">
                    <label for="" class="label-control fw-bold">Content</label>
                    <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">Source Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">Published on</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">News Image</label>
                    <input type="file" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
                    <label for="" class="label-control fw-bold">News Url</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3">

                    <button (click)="readValues()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>